@use "sass:color";
// @use "fonts";

$boxedWidth: 1500px;
$relativeWidth: 94%;
$tabletBreakpoint: 1000px;
$mobileBreakpoint: 800px;

$brandColor: #1b2c77;
$secondaryColor: #70799e;
$accentColor: #000;

$borderColor: #000;
$linkHoverColor: #000;

$fontColor: #000;
$backgroundColor: #fff;
$darkBackgroundColor: #000;

$blackColor: #000;
$whiteColor: #fff;
$lightGrey: #ececec;
$grey: #B4B4B4;
$darkGrey: #626262;

// Fonts
$boldFontWeight: 500;